@import "tailwindcss";

:root {
  font-family: Inter, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0;
  padding: 0;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --btn-blue: #3b82f6;
  --btn-blue-hover: #3373da;
}

body {
  background-color: #f4f4f4;
}

header {
  padding-inline: 4rem;
  background: #fff;
  border-bottom: 1px solid #bababa;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: bold;
  font-size: 37px;

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 44px;
      aspect-ratio: 1;
      margin-right: 0.5rem;
    }
  }

  button {
    font-size: 1.25rem;

    &:hover {
      background: var(--btn-blue-hover);
    }
  }
}

.btn {
  background: var(--btn-blue);
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

main {
  font-family: Inter, sans-serif;

  display: flex;
  justify-content: center;

  .empty-screen {
    margin-top: 11rem;
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
      height: 76px;
      aspect-ratio: 1;
    }

    h3 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      color: #6e6e6e;
      font-size: 1.5rem;
      font-weight: 600;
    }

    p {
      color: #565656;
      margin-top: 0.4rem;
    }

    button {
      margin-top: 2rem;
      margin-inline: auto;
      width: 180px;

      &:hover {
        background: var(--btn-blue-hover);
      }
    }
  }
}
